.lineadicomputo {
    clear:both;
    background-color:inherit;
}
.tipolinea {
    display:inline;
    float:left;
    border-width: 1px;
    border-color: #bbb;
    border-style: solid;
    border-radius: 2pt;
    padding: 1pt;
    margin: 1pt 6pt 4pt 2pt;
    cursor:default;
    background-color:inherit;
}
.choose {
    float:left;
    margin:0pt 1pt 0 1pt;
    color:#aaa;
    font-weight:normal;
}
.chosen {
    color:#000;
    margin:0pt 1pt;
    font-weight:bold;
}
.fattore {
    float: left;
    width:10em;
}
.hidden {
    display:none;
}
.shown {
    display:block;
}
.selected {
    background-color:#2fffff;
}
.cdfr {
    height: 2em;
    float: left;
}
.cod {
    font-weight: bold;
}
.desc {
}
.ds {
    width: 41.25em;
}
.grayed {
    background-color:#2f2f2f;
}
