doctype html
head
  script(src='/socket.io/socket.io.js')
  script(src='/lib/jquery-latest.min.js')
  script(src='/lib/bootstrap.min.js')
  script(src='/js/supercomputi.js')
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/supercomputi.css')
  script.
    $(init);

body

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner 
      .container
        a.brand SuperFrasca
        .collapse.nav-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-question-sign.icon-white
                |  help
                b.caret
              ul#help-menu-list.dropdown-menu
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-off.icon-white
                |  toggle
                b.caret
              ul#toggle-menu-list.dropdown-menu

  #computo(style="margin-top:3em")
    #linea-0000.lineadicomputo
      .tipolinea
        .choose.chosen(lettera=".codice", onclick="choose(this);") Ⓒ
        .choose(lettera='.descrizione', onclick="choose(this);") Ⓓ
        .choose(lettera='.fattori', onclick="choose(this);") Ⓕ
        .choose(lettera='.relativo', onclick="choose(this);") Ⓡ
      .codice.shown
        .cd.cdfr.codice
          .cod.fattore 01-001
          .desc.cdfr descrizione dell&apos;articolo di tariffa, che può anche essere molto lunga
      .descrizione.cdfr.hidden
        .ds(style="float:left;")
      .fattori.cdfr.hidden
        .qq.fattore 0
        .ln.fattore 0.0
        .lr.fattore 0.0
        .hh.fattore 0.0
      .relativo.cdfr.hidden
        .qq.fattore 0
        .ln.fattore 0.0
    #linea-0001.lineadicomputo
      .tipolinea
        .choose(lettera=".codice", onclick="choose(this);") Ⓒ
        .choose.chosen(lettera='.descrizione', onclick="choose(this);") Ⓓ
        .choose(lettera='.fattori', onclick="choose(this);") Ⓕ
        .choose(lettera='.relativo', onclick="choose(this);") Ⓡ
      .codice.cdfr.hidden
        .cd(style="float:left;")
      .descrizione.cdfr.shown
        .ds(style="float:left;")
        | descrizione della voce di computo
      .fattori.cdfr.hidden
        .qq.fattore 0
        .ln.fattore 0.0
        .lr.fattore 0.0
        .hh.fattore 0.0
      .relativo.hidden
        .qq.fattore 0
        .ln.fattore 0.0
    #linea-0002.lineadicomputo
      .tipolinea
        .choose(lettera=".codice", onclick="choose(this);") Ⓒ
        .choose(lettera='.descrizione', onclick="choose(this);") Ⓓ
        .choose.chosen(lettera='.fattori', onclick="choose(this);") Ⓕ
        .choose(lettera='.relativo', onclick="choose(this);") Ⓡ
      .descrizione.cdfr.hidden
        .ds(style="float:left;") testo vuoto
      .fattori.cdfr.shown
        .qq.fattore 0
        .ln.fattore 0.0
        .lr.fattore 0.0
        .hh.fattore 0.0
      .relativo.cdfr.hidden
        .qq.fattore 0
        .ln.fattore 0.0
    #linea-0003.lineadicomputo
      .tipolinea
        .choose(lettera=".codice", onclick="choose(this);") Ⓒ
        .choose(lettera='.descrizione', onclick="choose(this);") Ⓓ
        .choose.chosen(lettera='.fattori', onclick="choose(this);") Ⓕ
        .choose(lettera='.relativo', onclick="choose(this);") Ⓡ
      .descrizione.cdfr.hidden
        .ds(style="float:left;") testo vuoto
      .fattori.cdfr.shown
        .qq.fattore 0
        .ln.fattore 0.0
        .lr.fattore 0.0
        .hh.fattore 0.0
      .relativo.cdfr.hidden
        .qq.fattore 0
        .ln.fattore 0.0
    #linea-0004.lineadicomputo.selected
      .tipolinea
        .choose(lettera=".codice", onclick="choose(this);") Ⓒ
        .choose(lettera='.descrizione', onclick="choose(this);") Ⓓ
        .choose(lettera='.fattori', onclick="choose(this);") Ⓕ
        .choose.chosen(lettera='.relativo', onclick="choose(this);") Ⓡ
      .descrizione.cdfr.hidden
        .ds(style="float:left;") testo vuoto
      .fattori.cdfr.hidden
        .qq.fattore 0
        .ln.fattore 0.0
        .lr.fattore 0.0
        .hh.fattore 0.0
      .relativo.cdfr.shown
        .qq.fattore 0
        .ln.fattore 0.0
