doctype html
head
  script(src='/socket.io/socket.io.js')
  script(src='/lib/jquery-latest.min.js')
  script(src='/lib/bootstrap.min.js')
  script(src='/js/supercomputi.js')
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/supercomputi.css')
  script.
    $(init);

body

  .navbar.navbar-inverse.navbar-fixed-top(style="padding-bottom:3em;")
    .navbar-inner 
      .container
        a.brand SuperFrasca
        .collapse.nav-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-question-sign.icon-white
                |  help
                b.caret
              ul#help-menu-list.dropdown-menu
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-off.icon-white
                |  toggle
                b.caret
              ul#toggle-menu-list.dropdown-menu

  #computo(style="margin-top:3em;")
