doctype html
head
  script(src='/socket.io/socket.io.js')
  script(src='/lib/jquery-latest.min.js')
  script(src='/lib/bootstrap.min.js')
  script(src='/js/supercomputi.js')
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/supercomputi.css')
  script.
    $(init);

body

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner 
      .container
        a.brand SuperFrasca
        .collapse.nav-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-folder-open.icon-white
                |  computo
                b.caret
              ul#computo-menu-list.dropdown-menu
                li
                  a(href='#', onclick="create_computo();") nuovo
                li
                  a(href='#', onclick="fireSelectComputo();") apri
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-th-list.icon-white
                |  tariffa
                b.caret
              ul#tariffa-menu-list.dropdown-menu
                li
                  a(href='#', onclick="request_tariffa();") consulta
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-print.icon-white
                |  stampa
                b.caret
              ul#stampa-menu-list.dropdown-menu
                li
                  a(href='#', onclick="stampa_libretto();") libretto
                li
                  a(href='#', onclick="stampa_libretto();") - estimativo
                li
                  a(href='#', onclick="stampa_registro();") registro
                li
                  a(href='#', onclick="stampa_sommario();") sommario


  #editComputoModal.modal.hide.fade.broader-window
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h3 edit computo
    .modal-body
     .right-pane(style="margin-left:63%;position:fixed;")
        div(style="clear:both;line-height:2em;")
          .control-label committente
          input#computo-committente.field(name='committente', type='text')
        div(style="clear:both;line-height:2em;")
          .control-label cantiere
          input#computo-cantiere.field(name='cantiere', type='text')
        div(style="clear:both;line-height:2em;")
          .control-label S.A.L.
          input#computo-sal.field(name='sal', type='text')
        div(style="clear:both;line-height:2em;")
          .control-label nome
          input#computo-nome.field(style="margin-bottom:10pt;", name='nome', type='text')
        #tariffa-descrizione descrizione dell&apos;articolo
      div(style="clear:both;")
      #computo.left-pane(style="height:65%;width:65%;float:left;")
    .modal-footer
      button.btn(data-dismiss='modal') annulla e chiudi
      button.btn(href='#' onclick="save_computo(); return false;") salva e continua
      button.btn(data-dismiss='modal', href='#' onclick="save_computo(); return false;") salva e chiudi


  #selectComputoModal.modal.hide.fade
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h3 filtra e scegli il computo da modificare
    .modal-body
      div(style="clear:both;line-height:2em;")
        .control-label committente
        input#filter-committente.field(name='committente', type='text')
      div(style="clear:both;line-height:2em;")
        .control-label cantiere
        input#filter-cantiere.field(name='cantiere', type='text')
      div(style="clear:both;line-height:2em;")
        .control-label S.A.L.
        input#filter-sal.field(name='sal', type='text')
      div(style="clear:both;line-height:2em;")
        .control-label nome
        input#filter-nome.field(style="margin-bottom:10pt;", name='nome', type='text')
        a.btn.btn-primary(style="margin-left:3em;margin-bottom:10pt;", href='#' onclick="applyFilterComputo(); return false;") filtra
      hr(style="padding-top:0;margin-top:0;")
      #lista-computi-filtrati
